.wrapper {
  border: var(--border-width) dashed var(--border-primary);
  padding: 20px;
  background: var(--bg-primary);
  display: grid;
  gap: 8px;
}

.title {
  font-family: var(--font-unbounded), sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.text {
  color: var(--text-muted);
  font-size: 14px;
}
