.label {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

.input {
  width: 16px;
  height: 16px;
  appearance: none;
  border: 2px solid var(--border-primary);
  background: var(--bg-primary);
  cursor: pointer;
}

.input:checked {
  background: var(--bg-accent);
  box-shadow: inset 0 0 0 2px var(--bg-primary);
}
